* {
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 900px;
    margin: 0 auto 0 auto;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

header {
    background: #797979;
    margin: 0;
    text-align: center;
    border: 1px solid #797979;
}

.main-logo {
    width: 123px;
    height: 123px;
    margin: 220px 0 130px 0 ;
}

h1 {
    font-size: 34px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    line-height: 34px;
    margin: 0;
}

hr {
    margin-top: 48px;
    margin-bottom: 48px;
}

header span {
    color: #ffffff;
    display: block;
    margin-bottom: 155px;
}

.read-more-btn {
    width: 182px;
    height: 47px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    display: inline-block;
    vertical-align: middle;
    line-height: 45px;
}

.read-more-btn:hover {
    border: 1px solid #3c3c3c;
    color: #797979;
    background: #ffffff
}

.read-more-btn:active {
    background: #a8a8a8
}

.sprite {
    background-image: url(img/arrow-social.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-Arrow-down {
    width: 17px;
    height: 10px;
    background-position: -8px -8px;
    margin: 70px auto 150px auto;
}

.sprite-Behance {
    width: 19px;
    height: 11px;
    background-position: -41px -8px;
}

.sprite-Dribbble {
    width: 14px;
    height: 13px;
    background-position: -76px -8px;
}

.sprite-Facebook {
    width: 9px;
    height: 15px;
    background-position: -106px -8px;
}

.sprite-Google-_ {
    width: 15px;
    height: 15px;
    background-position: -131px -8px;
}

.logo-2 {
    font-size: 26px;
    line-height: 60px;
    font-weight: 700;
    vertical-align: middle;
    color: #3c3c3c;
}

.main-nav {
    height: 60px;
    border-bottom: 1px solid #f2f2f2;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.main-nav li {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    margin-right: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #3c3c3c;
}

.main-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #3c3c3c;
    font-weight: 400S;
}

.main-nav li a:hover {
    color: #ada074;
    font-weight: 700;
}

.about-us {
    text-align: center;
}

h2 {
    font-size: 34px;
    line-height: 34px;
    text-transform: uppercase;
}

.about-us h2 {
    margin-top: 125px;
    margin-bottom: 30px;
}

p {
    color: #a4a4a4;
    max-width: 285px;
    line-height: 28px;
    margin: 0 auto 0 auto;
}

.about-us hr + p {
    margin-bottom: 75px;
}

.feature {
    float: left;
    margin-right: 22px;
}

.feature:last-child {
    margin-right: 0;
}

.feature-logo {
    width: 92px;
    height: 92px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
    margin-bottom: 50px;
}

.feature-logo-responsive {
    background: url(img/Monitor.svg) no-repeat center;
}

.feature-logo-minimalism {
   background: url(img/Cog.svg) no-repeat center;
}

.feature-logo-freebies {
   background: url(img/Inbox.svg) no-repeat center;
}

h3 {
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 400;
}

.about-us-features {
    margin-bottom: 125px;
}

.portfolio {
    background: #f3f3f3;
    text-align: center;
    border: 1px solid #f3f3f3;
}

.portfolio h2 {
    margin-top: 180px;
}

.work {
    background: #eaeaea;
    width: 285px;
    margin-bottom: 22px;
}

.work-1,
.work-5,
.work-9,
.work-3,
.work-4,
.work-6,
.work-7,
.work-11{
    height: 193px;
}

.work-2 {
    height: 275px;
}

.work-8 {
    height: 385px;
}

.work-10 {
    height: 345px;
}

.left-side,
.central-side,
.right-side {
    float: left;
}

.left-side,
.central-side {
    margin-right: 22px;
}

.portfolio-works {
    margin-bottom: 165px;
}

.portfolio .read-more-btn {
    border: 1px solid #000;
    color: #000;
    margin-bottom: 98px;
}

.portfolio .read-more-btn:hover {
    background: #444444;
    border: 1px solid #fff;
    color: #fff;
}

.portfolio .read-more-btn:active {
    background: #c3c3c3;
}

.thanks-partners {
    background: #444444;
    text-align: center;
    border: 1px solid #444444;
}

.thanks-partners-header {
    display: inline-block;
    font-size: 30px;
    font-weight: 30px;
    color: #fff;
    font-weight: 300;
    margin-top: 95px;
    margin-bottom: 95px;
}

.partners {
    max-width: 615px;
    margin: 0 auto 105px auto;
}

.sprite-partner {
    background-image: url(img/partners.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 105px;
}

.sprite-partner:last-child {
    margin-right: 0;
}

.sprite-partner:first-child {
    margin-left: 20px;
}

.sprite-partner-logo-1 {
    width: 35px;
    height: 47px;
    background-position: -8px -8px;
}

.sprite-partner-logo-2 {
    width: 52px;
    height: 62px;
    background-position: -59px -8px;
}

.sprite-partner-logo-3 {
    width: 53px;
    height: 63px;
    background-position: -127px -8px;
}

.sprite-partner-logo-4 {
    width: 111px;
    height: 48px;
    background-position: -196px -2px;
}

.contact-us {
    text-align: center;
}

.contact-us h2 {
    margin-top: 170px;
}

.contact-us-left-side {
    float: left;
    max-width: 380px;
}

.contact-us-right-side {
    margin-left: 0;
}

.contact-us-form {
    text-align: left;
}

.contact-us-form input,
.contact-us-form label {
    display: block;
}

.contact-us-form input {
    height: 36px;
    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #f8f7f7;
    background: #f8f7f7;
}

.contact-us-form input[name="name"],
.contact-us-form input[name="email"] {
    width: 160px;
    padding: 0 10px 0 10px;
}

.contact-us-form input:focus {
    outline: 0;
    border: 1px solid #000;
}

.name-left,
.email-right {
    width: 160px;
    display: inline-block;
    margin-bottom: 70px;
}

.name-left {
    margin-right: 57px;
}

.contact-us-form label {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.contact-us-form textarea {
    width: 380px;
    border: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #f8f7f7;
    background: #f8f7f7;
    padding: 10px 10px 10px 10px;
}

.contact-us-form textarea:focus {
    outline: 0;
    border: 1px solid #000;
}

.contact-us-form input[type="submit"] {
    float: right;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 0;
    background: 0;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.contact-us-form input[type="submit"]:hover {
    color: #555555;
}

.contact-us-form input[type="submit"]:active {
    color: #458645;
}

.contact-us-right-side {
    max-width: 306px;
    float: left;
    margin-left: 70px;
    text-align: left;
}

.contact-us-right-side span {
    display: inline-block;
    margin-bottom: 41px;
}

.contact-us-right-side span:nth-child(2) {
    font-weight: 700;
}

.social a {
    display: inline-block;
    margin-right: 13px;
    text-decoration: none;
}

footer {
    background: #3c3c3c;
    text-align: center;
    border: 1px solid #3c3c3c;
}

.main-logo-2 {
    display: block;
    margin: 45px auto 40px auto;
    width: 58px;
    height: 58px;
}

.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.footer-nav ul li {
    display: inline-block;
    margin-right: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer-nav ul a {
    text-decoration: none;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
}

.footer-nav ul a:hover {
    color: #fff;
}

.copyright {
    display: block;
    margin: 0 auto 60px auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
}

